* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

:root {
    --fullGrid: 1 / 1 / -1 / -1;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



body {
    font-family: 'Poppins', sans-serif;
    background: #101010;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 1.3rem;
    height: 65px;
    box-shadow: 0 2px 10px 0 rgb(0, 0, 0, .4);
    backdrop-filter: blur(15px) brightness(75%) saturate(70%);
    border-bottom: 1px solid #202020;
    z-index: 1000;
}

.header-left {
    display: flex;
    align-items: center;
}

.sidebar-toggler {
    display: none;
    margin-right: 1rem;
}

.sidebar-btn {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #dee2e6;
}

.sidebar-btn:hover {
    color: #adb5bd;
    transition: 200ms ease-in-out;
}

.burger-btn.hidden {
    display: none;
}

.close-btn {
    display: none;
}

.close-btn.show {
    display: flex;
}

.header-title-text {
    text-decoration: none;
    color: #d9d9d9;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: .8mm;
    transition: 200ms ease-in-out;
}

.header-title-text:hover {
    color: #adb5bd;
    transition: 200ms ease-in-out;
}

.header-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #d9d9d9;
    font-size: 16px;
    font-weight: 700;
    margin: .5rem;
    padding: .5rem;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: 200ms ease-in-out;
}

.header-item:hover {
    border: 1px solid #adb5bd;
    transition: 200ms ease-in-out;
}

#readingLink {
    border: 1px solid #0ead69;
    transition: 200ms ease-in-out;
}

#readingLink:hover {
    border: 1px solid #fc2f00;
    transition: 200ms ease-in-out;
}

.header-right {
    display: flex;
    align-items: center;
}

.search-box {
    margin-right: 1.5rem;
}

.search-form {
    display: flex;
    align-items: center;
    border-radius: 25px;
}

.search-input {
    padding: .5rem .5rem .5rem 1rem;
    height: 35px;
    width: 100%;
    font-size: 14px;
    letter-spacing: .5mm;
    border-top: 1px solid #adb5bd;
    border-bottom: 1px solid #adb5bd;
    border-left: 1px solid #adb5bd;
    border-right: 1px solid #adb5bd;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background: none;
    color: #adb5bd;
    transition: 200ms ease-in-out;
}

.search-input:focus {
    outline: none;
    border: 1px solid #1597BB;
    transition: 200ms ease-in-out;
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    padding: .5rem;
    height: 35px;
    width: 55px;
    text-decoration: none;
    border-top: 1px solid #adb5bd;
    border-bottom: 1px solid #adb5bd;
    border-left: none;
    border-right: 1px solid #adb5bd;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background: none;
    color: #adb5bd;
    transition: 200ms ease-in-out;
}

.search-btn:hover {
    background-color: #0d3b66;
    transition: 200ms ease-in-out;
    color: #dee2e6;
}

.sign-in-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: .5rem;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .3mm;
    border-radius: 6px;
    border: 1px solid #0d3b66;
    background: #0d3b66;
    color: #d9d9d9;
    transition: 200ms ease-in-out;
}

.sign-in-btn:hover {
    border: 1px solid #adb5bd;
    transition: 200ms ease-in-out;
}

.sidenav-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav-overlay.open {
    width: 100%;
}

.sidenav-inner {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 2.5rem;
}

.sidenav-overlay .sidenav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidenav-overlay .sidenav-item {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #dee2e6;
    display: block;
    transition: 200ms ease-in-out;
}

.sidenav-overlay a:hover,
.sidenav-overlay a:focus {
    color: #adb5bd;
    transition: 200ms ease-in-out;
}

.content {
    display: grid;
    grid-template-rows: 100vh;
}

.bg-video-box {
    width: 100%;
    height: 100%;
}

.video-bg {
    grid-area: var(--fullGrid);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.video-overlay {
    grid-area: var(--fullGrid);
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
}

.welcome-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15rem;
    animation: fadein 2s;
    -moz-animation: fadein 3s;
    -webkit-animation: fadein 3s;
    -o-animation: fadein 3s;
}

.welcome-title {
    font-size: 3em;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #dee2e6;
    text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.4);
    transition: 200ms ease-in-out;
}

.start-btn {
    cursor: pointer;
    text-decoration: none;
    padding: .5rem 5rem .5rem 5rem;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .8mm;
    color: #dee2e6;
    border: 2px solid #adb5bd;
    border-radius: 25px;
    background: none;
    transition: 200ms ease-in-out;
    box-shadow: 0px 0px 15px #000;
    margin-top: 3rem;
}

.start-btn:hover {
    background-color: #0d3b66;
    color: #dee2e6;
    transition: 200ms ease-in-out;
}

.intro-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7.1rem;
    width: 100%;
    padding: 0 2rem 0 2rem;
    border-top: 1px solid #202020;
}

.intro-middle {
    padding: .5rem;
    color: #dee2e6;
    background-color: #101010;
    border-radius: 45px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: .7mm;
}

.intro-icon {
    height: 85px;
    width: 85px;
    margin: 1rem;
    filter: drop-shadow(0 0 0.75rem #9e0059);
}

.genre-box {
    padding: .5rem 0 .5rem 0;
}

.genres-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d3557;
}

.genre-btn {
    cursor: pointer;
    padding: .5rem;
    font-size: 16px;
    border: 2px solid transparent;
    background-color: #202020;
    border-radius: 5px;
    color: #dee2e6;
    margin: .3rem;
    transition: 200ms ease-in-out;
}

.genre-btn:hover {
    border: 2px solid #adb5bd;
    transition: 200ms ease-in-out;
}

.banners-box {
    background: url('../assets/images/bg/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 1rem;
    margin: 0 auto;
    background-color: #151515;
    padding: 3rem 1rem 3rem 1rem;
    width: 100%;
    overflow-y: hidden;
    height: 500px;
}

.banners-box.expand {
    overflow-y: none;
    height: 100%;
}

.banner-block {
    position: relative;
    height: 350px;
    width: 250px;
    /* margin-bottom: 3.5rem; */
}

.main-bannes {
    background: #202020;
}

.banner-img {
    border-radius: 15px;
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 35px #000;
    transition: 200ms ease-in-out;
}

.banner-img:hover {
    box-shadow: 0px 0px 35px #0d3b66;
    transition: 200ms ease-in-out;
}

.overlay-bot {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: .5rem;
    text-align: center;
}

.banner-link:hover .overlay-bot {
    opacity: 1;
}

.overlay-top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: .5rem;
    padding: 10px;
    text-align: center;
}

.banner-link:hover .overlay-top {
    opacity: 1;
}

.save-book-btn {
    display: flex;
    align-items: center;
    padding: .5rem;
    background-color: #0d3b66;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #dee2e6;
    transition: 200ms ease-in-out;
}

.save-book-btn:hover {
    background-color: #e63946;
    color: #101010;
    transition: 200ms ease-in-out;
}

.exband-block {
    box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
}

.expander {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}

.expand-btn {
    display: flex;
    align-items: center;
    padding: .5rem .1rem .5rem 0.5rem;
    border: 2px solid #343a40;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background: none;
    color: #d9d9d9;
    transition: 200ms ease-in-out;
}

.expand-btn:hover {
    background-color: #2B2B2B;
    transition: 200ms ease-in-out;
}

.expand-btn.open {
    display: none;
}

.show-less {
    display: none;
    align-items: center;
    padding: .5rem .1rem .5rem 0.5rem;
    border: 2px solid #343a40;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    background: none;
    color: #d9d9d9;
    transition: 200ms ease-in-out;
}

.show-less.open {
    display: flex;
}

.arrow-icon-down {
    margin: 0 0 0 .3rem;
}

.arrow-icon-down.close {
    display: none;
}

.arrow-icon-up {
    display: none;
}

.arrow-icon-up.open {
    margin: 0 0 0 .3rem;
    display: flex;
}

.extras-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 10px;
    height: 25rem;
    width: 100%;
    padding: 2.5rem 1rem 2.5rem 1rem;
    background-color: #191919;
    border-top: 1px solid #202020;
}

.extra {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #343434;
    padding: 1rem;
    color: #adb5bd;
    width: 100%;
}

.contact-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    gap: 10px;
}

.contact-welcome {
    display: flex;
    flex-direction: column;
}

.contact-title {
    color: #d9d9d9;
    font-size: 3em;
    font-weight: 800;
    letter-spacing: .7mm;
    transition: 200ms ease-in-out;
}

.contact-title-text {
    color: #adb5bd;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .5mm;
    transition: 200ms ease-in-out;
}

.contatc-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-logo {
    height: 100%;
    width: 100%;
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-column: 3;
}

.contact-input {
    border: 1px solid #423F3E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: .5rem;
    width: 100%;
    background-color: #2B2B2B;
    color: #dee2e6;
    letter-spacing: .7mm;
    transition: 200ms ease-in-out;
}

.contact-input:focus {
    outline: none;
    border: 1px solid #1597BB;
    transition: 200ms ease-in-out;
}

.contact-textarea {
    padding: .5rem;
    resize: none;
    width: 100%;
    margin: .2rem;
    border: 1px solid #423F3E;
    background-color: #2B2B2B;
    color: #dee2e6;
    letter-spacing: .7mm;
    transition: 200ms ease-in-out;
}

.contact-textarea:focus {
    outline: none;
    border: 1px solid #1597BB;
    transition: 200ms ease-in-out;
}

.send-btn {
    cursor: pointer;
    padding: .5rem;
    font-size: 14px;
    letter-spacing: .7mm;
    border: none;
    background-color: #0d3b66;
    color: #dee2e6;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 200ms ease-in-out;
}

.send-btn:hover {
    background-color: #03506F;
    transition: 200ms ease-in-out;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #343434;
    padding: 1rem;
    border-top: 1px solid #343a40;
    width: 100%;
    background: #202020;
    text-align: center;
    color: #f4f4f4;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #adb5bd;
    font-size: 28px;
    margin-left: 1rem;
}




::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #343a40;
}

::-webkit-scrollbar-thumb {
    background: #495057;
}

::-webkit-scrollbar-thumb:hover {
    background: #adb5bd;
}

@media(max-width: 1096px) {
    .banners-box {
        grid-template-columns: repeat(3, 1fr);
    }

    .contact-title {
        margin-bottom: .5rem;
        font-size: 2.5em;
        transition: 200ms ease-in-out;
    }

    .contact-title-text {
        font-size: 13px;
        transition: 200ms ease-in-out;
    }
}

@media(max-width: 960px) {

    .sidebar-toggler {
        display: flex;
    }

    .header-tab {
        display: none;
    }

    .welcome-title {
        font-size: 2.5em;
        transition: 200ms ease-in-out;
    }

    .banners-box {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-form {
        grid-column: 2/4;
    }

    .contact-title {
        font-size: 2em;
        transition: 200ms ease-in-out;
    }

    .contact-title-text {
        font-size: 12px;
        transition: 200ms ease-in-out;
    }
}

@media (max-width: 620px) {
    .header-title {
        display: none;
    }

    .banners-box {
        grid-template-columns: repeat(1, 1fr);
    }

    .welcome-title {
        font-size: 2em;
        transition: 200ms ease-in-out;
    }

    .contact-title {
        font-size: 1.5em;
        transition: 200ms ease-in-out;
    }

    /* .contact-title-text {
        font-size: 8px;
        transition: 200ms ease-in-out;
    } */
}